@model BlogCommentViewModel

@{
    <div>
    <form asp-action="CreateComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="AuthorId" class="form-control" value="@User.FindFirst(c => c.Type == "NorthwindId").Value" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea rows="6" asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
                <input asp-for="ArticleId" type="hidden"/>@Context.Request.RouteValues["article-id"]
            </div>
            <div class="form-group">
                <input type="submit" value="Leave comment" class="btn btn-primary" />
            </div>
        </form>
</div>

}