@model BlogCommentViewModel

@{
    ViewData["Title"] = "Edit comment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="EditComment" style="margin-bottom: 10px">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Id" type="hidden" />
        <input asp-for="Posted" type="hidden" />
        <input asp-for="AuthorId" type="hidden" />
        <input asp-for="AuthorName" type="hidden" />
        <input asp-for="ArticleId" type="hidden" />
        <label asp-for="Text" class="control-label">Edit comment</label>
        <textarea asp-for="Text" rows="6" class="form-control">@Model.Text</textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save changes" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }   
}