@using NorthwindMvcApp.ViewModels.Article

@model BlogArticleListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.FindFirst(x => x.Type == ClaimTypes.Role).Value == "employee")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<partial name="Components/ArticlesTable" model="@Model.Articles" />

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>