@using NorthwindMvcApp.ViewModels.User
@model UserListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<p>
    <div><a asp-action="CreateEmployeeUser">Create an employee account</a></div>
    <div><a asp-action="CreateCustomerUser">Create a customer account</a></div>
</p>


<partial name="Components/UserList" model="@Model.Users" />

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>